dist
nexus_prisma_ncc_build
node_modules
example/db
example/migrations
example/generated
.DS_Store
yarn-error.log
failed-*.md
tests/integration/generated/*.graphql
tests/integration/generated/nexus-types/*.d.ts
