version: 2.1
jobs:
  build:
    docker:
      - image: circleci/node:12
    steps:
      - checkout
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "yarn.lock" }}
            - v1-dependencies-
      - run:
          name: install dependencies
          command: yarn install --frozen-lockfile
      - save_cache:
          paths:
            - .cache/yarn
          key: v1-dependencies-{{ checksum "yarn.lock" }}
      - run:
          name: test
          command: yarn -s test
nexus prisma
