name: pr

on: [pull_request]

env:
  PRISMA_TELEMETRY_INFORMATION: 'nexus-plugin-prisma pr.yml'

jobs:
  schema-tests:
    runs-on: macos-latest
    strategy:
      matrix:
        node-version: [10.x, 12.x]
        nexus-schema-version: [^1.0.0]
    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      - run: yarn --frozen-lockfile
      - run: yarn add nexus@${{ matrix.nexus-schema-version }}
      - run: yarn build
      - run: yarn -s test
